body {
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc((64px * 8) + 200px + 10px);
    height: calc(64px * 8);
    padding: 0%;
}

a {
    text-decoration: none;
    color: white;
}

#side_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: calc(64px * 8);
}

#board_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(64px * 8);
    height: calc(64px * 8);
    flex-wrap: wrap;
}

#vert_space {
    width: 10px;
    height: 100%;
}

#piece_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#white_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#black_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board_settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: rgb(48, 48, 48);
    color: white;
    font-size: 12px;
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.piece_button {
    width: 40px;
    height: 40px;
    margin: 7px;
    border-radius: 20%;
    background-color: rgb(196, 240, 142);
    font-size: 25px;
    cursor: crosshair;
    align-self: center;
}


#side_panel_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 20%;
    padding: 10px;
}

.side_panel_button {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 20%;
    background-color: rgb(48, 48, 48);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.square {
    position: relative;
    width: 64px;
    height: 64px;
}

.piece {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    transform: translate(-50%, -50%);
    cursor: grab;
    transition: left 0.5s ease, top 0.5s ease;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.light-square {
    background-color: rgb(205, 195, 205);
}

.dark-square {
    background-color: rgb(105, 95, 105);
}